@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* Ghibli Paper Background Base */
  background-color: #F7F5E6;
  color: #064e3b; /* emerald-900 */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}